.container {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  margin-top: -80px;
  margin-bottom: -40px;
}

.statistics-image {
  width: 30px;
  margin-right: 5px;
}

.general-statistics {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
}

.card-statistics {
  display: flex;
  width: 250px;
  height: 120px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color-cards-container);
  border-radius: 7px;
  box-shadow: 0 4px 10px 1px var(--color-cards-container-border-shadow);
}

.card-statistics-info-container {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  margin: 10px 15px;
}

.card-statistics-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avarage-time-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--color-avarage-time-container);
  border-radius: 0 0 7px 7px;
}

.max-time-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--color-max-time-container);
  border-radius: 0 0 7px 7px;
}

.user-avarage-time-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--color-user-avarage-time-container);
  border-radius: 0 0 7px 7px;
}

.served-customers-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--color-served-customers-container);
  border-radius: 0 0 7px 7px;
}

.tickets {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ticket {
  display: flex;
  min-width: 430px;
  flex-direction: column;
  align-items: center;
}

.ticket .ticket-pending-card {
  display: flex;
  width: 340px;
  height: 110px;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid var(--color-tickets-card-border);
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--bg-color-ticket-card);
  border-radius: 2px;
  box-shadow: 0 0 10px 0 var(--color-tickets-card-shadow);
}

.ticket .ticket-service-card {
  display: flex;
  min-width: 100%;
  height: 240px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid var(--color-tickets-card-border);
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--bg-color-ticket-card);
  border-radius: 2px;
  box-shadow: 0 0 10px 0 var(--color-tickets-card-shadow);
}

.ticket-list-header {
  display: flex;
  width: 235px;
  min-height: 30px;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--bg-color-ticket-list-header);
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.tickets-pending-number {
  width: 65px;
  background-color: var(--bg-color-tickets-pending-number);
  border-radius: 2px;
  text-align: center;
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
}

.ticket-info {
  display: flex;
  justify-content: space-between;
}

.visit-purpose-contaner {
  max-width: 235px;
}

.ticket-number {
  display: flex;
  min-width: 90px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background: var(--bg-color-ticket-number);
  border-radius: 2px;
}

.ticket-number span {
  color: var(--color-text-contrast);
  font-weight: bold;
}

.externla-integration-cards {
  display: flex;
  justify-content: flex-end;
}

.crm-link {
  padding: 10px 15px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: var(--bg-color-crm-container);
  border-radius: 2px;
  color: var(--color-text-contrast);
  font-size: 12px;
}

.abc-link {
  padding: 10px 15px;
  background: var(--bg-color-abc-container);
  border-radius: 2px;
  color: var(--color-text-contrast);
  font-size: 12px;
}

.crm-link:hover,
.crm-link:focus,
.crm-link:active {
  color: var(--color-text-contrast);
}

.abc-link:hover,
.abc-link:focus,
.abc-link:active {
  color: var(--color-text-contrast);
}

.newCustomer {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  background: var(--bg-color-crm-container);
  border-radius: 2px;
}

.customer-phone-number {
  display: flex;
  justify-content: space-between;
}

.pending-time {
  display: flex;
  justify-content: space-between;
}

.accepted-ticket-buttons {
  display: flex;
  justify-content: space-between;
}

.complete-service-button {
  display: flex;
  justify-content: center;
}

.users-average-service-time {
  color: var(--color-avarage-time-container);
  font-size: 18px;
  font-weight: bold;
}

.users-max-service-time {
  color: var(--color-max-time-container);
  font-size: 1.2rem;
  font-weight: bold;
}

.user-average-service-time {
  color: var(--color-user-avarage-time-container);
  font-size: 1.2rem;
  font-weight: bold;
}

.customersAmountUserServed {
  color: var(--color-served-customers-container);
  font-size: 1.2rem;
  font-weight: bold;
}

.ticket-header {
  color: var(--color-text-muted);
  font-size: 20px;
  font-weight: bold;
}

.tickets-amount {
  color: var(--color-text-contrast);
  font-size: 20px;
  font-weight: bold;
}
