.container {
  margin-top: -80px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters .form-group {
  margin-bottom: 0;
}

.table-content {
  padding: 20px;
  background-color: var(--bg-color-admin-container);
}

.table {
  margin-top: 10px;
  margin-bottom: 10px;
}

.table-header {
  background-color: var(--bg-color-admin-table-header);
}

.table-raw {
  background-color: transparent !important;
}
