.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color-queue-page-container);
}

.blue-space {
  height: 175px;
  background-color: var(--bg-color-queue-page-header);
}

.mainContent {
  width: 100%;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.container .bootstrap-container {
  padding-right: 20px;
  padding-left: 20px;
}

@include media-breakpoint-down(xs) {
  .container .bootstrap-container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
