.container {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 160px;
}

.visit-purposes-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.visit-purposes-container .visit-purpose-button {
  width: 70%;
  height: 180px;
  padding-right: 80px;
  padding-left: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: var(--font-family-secondary);
  font-size: 60px;
  font-weight: 700;
}

.redirect-button {
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 35px;
}

.redirect-button,
.redirect-button:hover {
  color: var(--color-text-muted) !important;
}

.header {
  color: var(--color-text);
  font-family: var(--font-family-secondary);
  font-size: 64px;
  font-weight: 700;
}

.branch-office {
  margin-top: 70px;
  margin-bottom: 70px;
}

.redirect-button-container {
  width: 100%;
  text-align: center;
}

.redirect-button-text {
  color: var(--color-text-muted);
  font-family: var(--font-family-secondary);
  font-size: 48px;
  font-weight: 700;
}
