.container {
  width: 100%;
  padding: 20px;
  margin-top: -80px;
  background-color: var(--bg-color-admin-container);
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters .form-group {
  margin-bottom: 0;
}

.user-content {
  margin-top: 40px;
  margin-bottom: 40px;
}

.table-header {
  background-color: var(--bg-color-admin-table-header);
}

.table-raw {
  background-color: transparent !important;
}

.pagination {
  justify-content: center;
}

.form-group .custom-control {
  z-index: 0;
}
