@import "../monserrat.css";

:root {
  /* default colors */
  --color-primary: #ff9800;
  --color-primary-darker: #e65100;
  --color-text: #000;
  --color-sidebar-links: #535763;
  --color-text-contrast: #fff;
  --color-text-default-screens-pages: #000;
  --color-text-contrast-screens-pages: #fff;
  --color-text-muted: #37474f;
  --color-text-link: #00e;
  --color-text-link-visited: #551a8b;
  --color-text-link-active: #f00;
  --color-border: #000;
  --color-background: #fff;
  --color-danger: #b71c1c;

  /* sidebar colors */
  --bg-color-sidebar-link-active: #4680ff;
  --color-sidebar-link-active: var(--color-text-contrast);
  --color-sidebar-border: #f2f4f9;
  --color-sidebar-border-shadow: rgba(183, 192, 206, 0.2);
  --bg-color-sidebar-container: var(--color-background);

  /* admin pages colors */
  --bg-color-admin-container: var(--color-background);
  --bg-color-admin-table-header: rgba(0, 0, 0, 0.05);
  --bg-color-admin-active-table-header: #4680ff;

  /* profile page colors */
  --bg-color-profile-container: var(--color-background);

  /* tickets card colors */
  --color-tickets-card-border: var(--color-sidebar-border);
  --color-tickets-card-shadow: var(--color-sidebar-border-shadow);

  /* screens pages colors */
  --color-arrow: #fff;
  --color-active-arrow: #39b980;
  --bg-color-vertical-screen-container: #000;
  --white-theme-bg-color-vertical-screen-container: #fff;
  --bg-color-vertical-screen-ticket-info: #000;
  --white-theme-bg-color-vertical-screen-ticket-info: #fff;
  --bg-color-vertical-screen-active-ticket-info: var(--color-active-arrow);
  --white-theme-bg-color-vertical-screen-active-ticket-info: var(
    --color-active-arrow
  );
  --bg-color-horizontal-screen-ticket-info: var(--color-arrow);
  --bg-color-horizontal-screen-active-ticket-info: var(--color-active-arrow);
  --bg-color-horizontal-screen-right-sidebar: #ffb600;
  --color-border-top: #fff;
  --white-theme-color-border-top: #000;

  /* queue page colors */
  --bg-color-queue-page-container: #ecf0f5;
  --bg-color-queue-page-header: #4680ff;
  --bg-color-cards-container: var(--color-background);
  --color-cards-container-border-shadow: rgba(0, 0, 0, 0.25);
  --color-avarage-time-container: #ffba57;
  --color-max-time-container: #9ccc65;
  --color-user-avarage-time-container: #ff5252;
  --color-served-customers-container: #4680ff;
  --bg-color-ticket-card: var(--color-background);
  --bg-color-ticket-list-header: var(--color-background);
  --bg-color-tickets-pending-number: #ff5252;
  --bg-color-crm-container: #4680ff;
  --bg-color-abc-container: #9ccc65;
  --bg-color-ticket-number: #ffba57;

  /* create ticket pages colors */
  --color-phone-number-input-border: #39b980;
  --bg-color-ticket: #39b980;
  --back-redirect-active-button-color: #f6f6f6;
  --sent-active-button-color: #4dd397;

  /* report page colors */
  --color-data-filter-border: #ced4da;
  --color-data-filter-text: #495057;

  /* bootstrap button colors */
  --secondary-button-color: #39b980;
  --secondary-active-button-color: #227d53;
  --info-button-color: #f1f4f5;
  --info-active-button-color: #ececec;

  /* fonts */
  --font-family-primary: montserrat, helvetica neue, helvetica, arial,
    sans-serif;
  --font-family-secondary: montserrat, georgia, times new roman, times, serif;
  --font-size-base: 16px;
  --letter-spacing-base: 0;
  --line-height-base: 1.3;

  /* sizes */
  --border-width-regular: 0.1rem;

  /* z-indexes */
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-2: 10;
  --z-index-3: 100;
  --z-index-4: 1000;
  --z-index-5: 10000;
}
