.container {
  margin-top: 15px;
}

.filters {
  display: flex;
  align-items: center;
}

.container .form-group {
  margin-bottom: 0;
}

.filter-button {
  margin-right: 15px;
  margin-left: 15px;
}

.declined-ticket-card {
  display: flex;
  min-width: 100%;
  height: 130px;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid var(--color-tickets-card-border);
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--bg-color-ticket-card);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 var(--color-tickets-card-shadow);
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticket-info {
  display: flex;
  justify-content: space-between;
}

.ticket-number {
  display: flex;
  min-width: 95px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  background: var(--bg-color-ticket-number);
  border-radius: 5px;
}

.ticket-number span {
  color: var(--color-text-contrast);
  font-weight: bold;
}

.externla-integration-cards {
  display: flex;
  justify-content: flex-end;
}

.epmty-basket {
  text-align: center;
}
