.branch-office-content {
  margin-top: -80px;
}

.table-content {
  padding: 20px;
  background-color: var(--bg-color-admin-container);
}

.office-table {
  margin-top: 40px;
  margin-bottom: 40px;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.town-table {
  margin-top: 10px;
  margin-bottom: 10px;
}

.town-table-header {
  background-color: var(--bg-color-admin-table-header);
}

.town-table-raw {
  background-color: transparent !important;
}

.crm-branch-switch {
  z-index: var(--z-index-0) !important;
}
