.container {
  margin-top: -80px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters .form-group {
  margin-bottom: 0;
}

.table-content {
  padding: 20px;
  background-color: white;
}

.table {
  margin-top: 10px;
  margin-bottom: 10px;
}

.table-header {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-raw {
  background-color: transparent !important;
}

.label-row {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.label-row .buttun-exclamation-point {
  padding: 8px 4px;
}

.label-row .buttun-exclamation-point:focus {
  box-shadow: none;
}

.tooltip.bs-tooltip-top + .tooltip-inner {
  max-width: 250px;
  padding: 0.25rem 1.5rem;
  background-color: gray !important;
  border-radius: 1.25rem;
  color: #fff;
  opacity: 0.5;
  text-align: left;
}

.tooltip [class$="inner"] {
  border: 1px solid red;
  background-color: red;
}

.tooltip [class$="arrow"] {
  border-top: 5px solid red !important;
}
