.table-content {
  padding: 20px;
  margin-top: -80px;
  background-color: var(--bg-color-admin-container);
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.role-table {
  margin-top: 10px;
  margin-bottom: 10px;
}

.role-table-header {
  background-color: var(--bg-color-admin-table-header);
}

.role-table-raw {
  background-color: transparent !important;
}

.modal-role-diolog {
  margin-top: 150px;
}

.permissions-row {
  display: flex;
  flex-wrap: wrap;
}
