.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.ticket {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--bg-color-ticket);
}

.check-mark {
  width: 400px;
  height: 400px;
}

.ticket-content {
  display: flex;
  min-height: 75%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
}

.ticket-info-header {
  display: flex;
  width: 900px;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3em;
  text-align: center;
}

.ticket-info-content {
  display: flex;
  width: 650px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  background-image: url("../images/ticket-background.svg");
  border-radius: 15px;
}

.ticket-info {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-text);
  font-family: var(--font-family-secondary);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.ticket-footer {
  text-align: center;
}

.ticket-number {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-text);
  font-family: var(--font-family-secondary);
  font-size: 144px;
  font-weight: 700;
  text-align: center;
}

.header {
  color: var(--color-text-contrast);
  font-family: var(--font-family-secondary);
  font-size: 72px;
  font-weight: 700;
  text-align: center;
}

.subheader {
  margin-top: 50px;
  margin-bottom: 50px;
  color: var(--color-text-contrast);
  font-family: var(--font-family-secondary);
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
