.container {
  width: 100%;
  padding: 20px;
  margin-top: -80px;
  background-color: var(--bg-color-admin-container);
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data-filters {
  display: flex;
  margin-top: 15px;
}

.to-data-filter {
  margin-right: 15px;
  margin-left: 15px;
}

.data-filter {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--color-data-filter-border);
  border-radius: 0.25rem;
  color: var(--color-data-filter-text);
  outline: none;
}

.filters .form-group {
  max-width: 200px;
  margin-bottom: 0;
}

.content {
  margin-top: 40px;
  margin-bottom: 40px;
}

.table-header {
  background-color: var(--bg-color-admin-table-header);
}

.table-raw {
  background-color: transparent !important;
}

.pagination {
  justify-content: center;
}
