.container {
  width: 260px;
  height: 100%;
  border-right: 1px solid var(--color-sidebar-border);
  background-color: var(--bg-color-sidebar-container);
  box-shadow: 0 8px 10px 0 var(--color-sidebar-border-shadow);
  transition: all 0.5s;
}

.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 599px) {
  .container {
    display: none;
  }
}

.admin-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  padding: 10px 15px;
}

.user-data {
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidebar-list-item {
  margin: 5px 10px;
  cursor: pointer;
}

.sidebar-link {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  color: var(--color-sidebar-links);
  transition: all 0.3s;
}

.sidebar-link:hover,
.sidebar-link:focus,
.sidebar-link:active {
  background-color: var(--bg-color-sidebar-link-active);
  color: var(--color-sidebar-link-active);
  text-decoration: none;
}

.active-sidebar-link {
  background-color: var(--bg-color-sidebar-link-active);
  color: var(--color-sidebar-link-active);
  text-decoration: none;
}

.sidebar-header {
  color: #4680ff;
  font-weight: bold;
}
