.container {
  width: 100%;
}

.user-settings-Container {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--bg-color-profile-container);
  text-align: center;
}

.user-settings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.user-settings-card {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
}

.office-selector {
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.set-button {
  margin-right: 20px;
  margin-left: 20px;
}

.setting-card-header {
  color: var(--color-text);
  font-size: 1.2rem;
  font-weight: bold;
}

.modal-diolog {
  top: 50% !important;
  left: 50% !important;
  height: auto !important;
  transform: translate(-50%, -50%) !important;
}
