.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.headersContainer {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  color: var(--color-text);
  font-family: var(--font-family-secondary);
  font-size: 56px;
  font-weight: 700;
  text-align: center;
}

.subheader {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container .customer-phone-number-button {
  width: 130px;
  height: 90px;
  margin: 15px 5px;
  border-radius: 20px;
  color: var(--color-text);
  font-size: 48px;
  font-weight: bold;
}

.numbers-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container .phone-number-input {
  padding: 10px;
  border: 0;
  border-bottom: 2px solid var(--color-phone-number-input-border);
  color: var(--color-text-muted);
  font-size: 48px;
  text-align: center;
}

.container .phone-number-input:focus {
  border-bottom: 2px solid var(--color-phone-number-input-border);
  outline: none;
}

.input-phone-number-controller {
  display: flex;
}

.remove-number-button {
  border: none;
  background: none;
}

.remove-number-button:focus {
  outline: none;
}

.remove-number-image {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.redirect-buttons {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.redirect-buttons .redirect-button {
  position: relative;
  font-size: 35px;
}

.redirect-buttons .redirect-button:focus {
  box-shadow: none;
}

.redirect-buttons .redirect-button:hover .redirect-back-button-img,
.redirect-buttons .redirect-button:focus .redirect-back-button-img,
.redirect-buttons .redirect-button:active .redirect-back-button-img {
  fill: var(--back-redirect-active-button-color);
}

.redirect-buttons .redirect-button:hover .sent-button-img,
.redirect-buttons .redirect-button:focus .sent-button-img,
.redirect-buttons .redirect-button:active .sent-button-img {
  fill: var(--sent-active-button-color);
}

.back-redirect-button-text {
  position: absolute;
  top: 30px;
  left: 70px;
  color: var(--color-text);
  font-size: 32px;
}

.sent-button-text {
  position: absolute;
  top: 30px;
  left: 25px;
  color: var(--color-text-contrast);
  font-size: 32px;
}
