.container {
  display: flex;
  width: 100%;
}

.inner-container {
  display: flex;
}

.text-container {
  margin-right: 3rem;
  margin-left: 3rem;
}

.error-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.error-header {
  color: var(--color-text);
  font-size: 10rem;
  font-weight: bold;
}

.error-def {
  color: var(--color-text);
  font-size: 2rem;
  font-weight: bold;
}

.error-page-back {
  width: 50%;
}

.error .button {
  padding: 10px 20px;
  margin-top: 70px;
  margin-bottom: 70px;
  font-size: 2rem;
  font-weight: bold;
}
